@import "font";

$balck-font-family:'Vazirmatn-black';
$ExtraBold-font-family:'Vazirmatn-extrabold';
$bold-font-family:'Vazirmatn-bold';
$semibold-font-family:'Vazirmatn-SemiBold';
$Medium-font-family:'Vazirmatn-Medium';
$Regular-font-family:'Vazirmatn-Regular';
$light-font-family:'Vazirmatn-Light';
$extralight-font-family:'Vazirmatn-ExtraLight';
$thin-font-family:'Vazirmatn-Thin';