@font-face {
    font-family: 'Vazirmatn-black';
    font-style: Black ;
    font-weight: 900;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Vazirmatn-Black.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn-extrabold';
    font-style: ExtraBold;
    font-weight: 800;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Vazirmatn-ExtraBold.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn-bold';
    font-style: bolder;
    font-weight: 700;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Vazirmatn-Bold.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn-SemiBold';
    font-style: Semibold;
    font-weight: 600;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Vazirmatn-SemiBold.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn-Medium';
    font-style: Medium ;
    font-weight: 500;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Vazirmatn-Medium.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn-Regular';
    font-style: Regular;
    font-weight: 400;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Vazirmatn-Regular.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn-Light';
    font-style: Light ;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Vazirmatn-Light.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn-ExtraLight';
    font-style: ExtraLight  ;
    font-weight: 200;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Vazirmatn-ExtraLight.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Vazirmatn-Thin';
    font-style: Thin ;
    font-weight: 100;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Vazirmatn-Thin.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Courgette-Regular';
    font-style: Thin ;
    
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/Courgette-Regular.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Secula';
    font-style: Thin ;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../../font/SecularOne-Regular.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ConcertOne';
    font-style: Thin ;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/ConcertOne-Regular.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'PoetsenOne';
    font-style: Thin ;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/PoetsenOne-Regular.woff) format('woff');
    font-display: swap;
}