
.part-one {
    background-color: #2eca7f;
    padding: 50px;
    border-radius: 20px 20px 0px 0px;
}

.photo-1 {
    max-width: 280px;
   
    text-align: center;
}
.title-block h4 {
    font-size: 60px;
    text-transform: capitalize;
    font-family: $en_primary ;
    justify-content: space-between;

}
.title-block-2 {
  justify-content: space-between;
}
.social-links ul a   {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: #fff;
    margin: 0 3px;
    color: #9e9e9e;
    text-align: center;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.1);
    vertical-align: middle;

}
.social-links ul a i {
    line-height: 40px;
    font-size: 30px;
  }
  .icones a:hover {
    rotate: 10deg;
  }
.about-me h2 {
    font-family: $en_secondary;
    font-size: 23px;
}


  .part-tow {
    background-color: #87eaba;
    padding: 34px 50px;
    padding-bottom: 90px !important;
    border-radius: 0px 0px 20px 20px;
  }

  .card-tow {
    background-color: #71cb9f;
    padding: 7px;
    border-radius: 13px;
    margin-top: 10px;
  }
  .pro-image {
    border-radius: 10px;
  }
  .pro-detels-one {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .pro-detels-one i {
border: 1px solid black;  
  padding: 10px 11px;
    font-size: 20px;
    border-radius: 140px;
  }

  .aboutmebtn {
    background-color: #61fdb2;
    padding: 5px 23px;
    border-radius: 5px;
    border: 2px solid #000;
    outline: 2px solid white;
    font-weight: bold;
    text-transform: capitalize;

  }
  .aboutme {
    background-color: #61fdb2;
    padding: 5px 23px;
    border-radius: 5px;
    border: 2px solid #000;
    outline: 2px solid white;
    font-weight: bold;
    text-transform: capitalize;
    display: none;

  }
  .aboutmebtn:hover {
    border: 2px solid #61fdb2;
    background-color: none;
    outline: 2px solid white;
    rotate: 3deg;
  }
  .cvbtn {
    background-color: #61fdb2;
    padding: 5px 23px;
    border-radius: 5px;
    border: 2px solid #000;
    outline: 2px solid white;
    font-weight: bold;
    text-transform: capitalize;

  }
  .cvbtn:hover {
    border: 2px solid #61fdb2;
    background-color: none;
    outline: 2px solid white;
    rotate: -3deg;
  }





   .pro-detels-one i {
  
    position: absolute; /* Required for animation */
    animation: rotate 6s linear infinite; /* Animation definition */
  }

  .my-portfolio {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: #2eca7f;
    padding: 10px 27px;
    border-radius: 0px 0px 30px 30px;
    font-size: 30px;
    text-transform: capitalize;
    color: $white;
    font-family: $en_secondary;
  }


  .animate-typing {
    font-size: 20px;
    // font-weight: bold;
    font-family: $en_secondary;
    padding:2px;
  }
  .im-one {
    font-size: 25px;
    font-family: $en_secondary;
  }
  .loadmore {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color: #87eaba;
      padding: 4px 25px;
      border-top: 2px solid white;
      border-right: 2px solid white;
      border-radius: 0px 17px 0px 10px;
      font-size: 20px;
      text-transform: capitalize;
      color: $black;
      font-weight: bold;
      box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.03), inset 0px 4px 10px rgba(0, 0, 0, 0.14);
  }
  .bagnation {
      position: absolute;
      bottom: 0px;
      right: 0px;
      background-color: #87eaba;
      padding: 4px 25px;
      border-top: 2px solid white;
      border-left: 2px solid white;
      border-radius: 17px 0px 0px 0px;
      font-size: 20px;
      text-transform: capitalize;
      color: #000000;
      font-weight: bold;
      box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.03), inset 0px 4px 10px rgba(0, 0, 0, 0.14);
  }

  .your-element {
    box-shadow: inset 0px -5px 10px rgba(0, 0, 0, 0.2), /* Top shadow */
                inset 5px 0px 10px rgba(0, 0, 0, 0.2); /* Right shadow */
    /* Other styles for your element */
  }
  





  
  @keyframes rotate {
    from {
      transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
      transform: rotate(360deg); /* Rotate 360 degrees for a full circle */
    }
  }

  .page-title-content h2 {
    font-family: $en_secondary;
    text-transform: capitalize;
  }
  .itemss {
    border: 2px solid #086c3b;
    width: 100% !important;
    border-radius: 7px;
  }



  // ruseme
  .card-2 {
    padding: 12px;
  }
  .title-block-tow {
    margin-left: -7px;
  }
  .title-block-tow h2 {
    font-family: $en_secondary;
    font-size: 20px;
    text-transform: capitalize;
  }
  .text-blog-one {
    margin-left: 15px;
  }
  .title-bloc-three {
    margin-left: 15px;
    margin-top: 15px;
  }
  .bloc-title-four h2 {
    font-size: 18px;
    margin-left: 16px;
    margin-top: 5px;
    text-transform: capitalize;
  }

  // skils
  .skils-box {
    margin-left: 35px;
  }
  .skils-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .progress-bars {
    height: 10px;
    width: 100%;
    background-color: $white;
    width: 70%;
    border: 1px solid $black;
  }
  .bar {
    background-color: #06b85d;
    height: 100%;
    display: block;
  }
  .exp-card ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
  }
  .exp-card ul li {
    background-color: #06b85d;
    padding: 2px 10px;
    margin: 4px;
    color: white;
    font-family: $en_secondary;
    border-radius: 5px;
  }
 

