.sert-card {
    padding: 6px;
    border: 1px solid gray;
    
  }
  .name{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
    width: 276px;
    bottom: 13px;
    background-color: #000000ab;
    color: white;
    padding: 9px 0px;
    border-radius: 53px;
  }

  #timer {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;
  }